package pages

import "oauth/views/layout"

templ Login() {
	@layout.App() {
		<div class="container mx-auto mt-10 px-4 sm:px-0">
			<h1 class="font-bold text-xl mb-2">Login page</h1>
			<a class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors" href="/auth/google">
				Login with Google
			</a>
		</div>
	}
}
